# 2. データの理解と前処理

In [5]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.6-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hayato\documents\研修\青ネギ関連\my_project\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hayato\documents\研修\青ネギ関連\my_project\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Downloading numpy-2.2.6-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------ --------------------------------- 2.1/12.6 MB 11.8 MB/s eta 0:00:01
   -------------- ------------------------- 4.7/12.6 MB 11.8 MB/s eta 0:00:01
   ----------------------- ---------------- 7.3/12.6 MB 11.8 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.6 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 11.6 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 11.4 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import pandas as pd

df = pd.read_csv(
    "data/tsuji/p0005211_環境データ_12号棟_202408.csv",
    encoding="cp932",
    parse_dates=["日付"]
)

df["日付"] = pd.to_datetime(df["日付"], format="%Y/%m/%d", errors="coerce")
df["時刻"] = df["時刻"].astype(str)
df["時刻"] = df["時刻"].str.replace("*", "", regex=False)
df["時刻"] = pd.to_datetime(df["時刻"], format="%H:%M", errors="coerce").dt.time

print(df.dtypes)
df.head()

日付                 datetime64[ns]
時刻                         object
エラー、状態コード                 float64
PF 測定 気温                  float64
湿度                        float64
CO2濃度                       int64
照度                          int64
日射量                         int64
外気温                         int64
補助温度(気温P)                 float64
風速                          int64
風向                        float64
飽差                        float64
温度センサープラス１(OP1)           float64
温度センサープラス２(OP2)             int64
露点                        float64
積算日射量                     float64
平均気温                      float64
昼平均気温                     float64
夜平均気温                     float64
昼夜差気温                     float64
前日平均気温                    float64
前２日平均気温                   float64
前３日平均気温                   float64
換気加算                        int64
暖房１加算                       int64
暖房２加算                     float64
換気系統１開度                     int64
換気系統２開度                     int64
換気系統３開度                     int64
換気系統４開度                     int64
カーテン１閉度（上層）                 int64
カーテン２閉度（下層）                 int64
暖房機１動作                      int64
暖房機２動作                      int64
冷房機動作                       int64
CO2施用動作                     int64
循環扇動作                       int64
ミスト発生器動作                    int64
潅水動作                        int64
潅水積算日射                      int64
潅水回数                        int64
換気設定                      float64
暖房１設定                     float64
暖房２設定                     float64
換気要求度(換気RQ)               float64
dtype: object

,日付,時刻,エラー、状態コード,PF 測定 気温,湿度,CO2濃度,照度,日射量,外気温,補助温度(気温P),...,CO2施用動作,循環扇動作,ミスト発生器動作,潅水動作,潅水積算日射,潅水回数,換気設定,暖房１設定,暖房２設定,換気要求度(換気RQ)
0,2024-08-02,09:11:00,NaN,34.2,72.9,444,27,273,0,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,2024-08-02,09:12:00,NaN,34.3,72.0,442,27,270,0,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,2024-08-02,09:13:00,NaN,34.4,71.5,443,19,192,0,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,2024-08-02,09:14:00,NaN,34.5,68.6,442,28,280,0,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,2024-08-02,09:15:00,NaN,34.4,69.0,442,25,253,0,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [23]:
print(repr(df["時刻"].iloc[1]))

datetime.time(9, 12)

In [24]:
df = df.dropna(axis=1, how="all")
df.head()

,日付,時刻,PF 測定 気温,湿度,CO2濃度,照度,日射量,外気温,風速,飽差,...,カーテン２閉度（下層）,暖房機１動作,暖房機２動作,冷房機動作,CO2施用動作,循環扇動作,ミスト発生器動作,潅水動作,潅水積算日射,潅水回数
0,2024-08-02,09:11:00,34.2,72.9,444,27,273,0,0,10.3,...,0,0,0,0,0,0,0,0,0,0
1,2024-08-02,09:12:00,34.3,72.0,442,27,270,0,0,10.7,...,0,0,0,0,0,0,0,0,0,0
2,2024-08-02,09:13:00,34.4,71.5,443,19,192,0,0,10.9,...,0,0,0,0,0,0,0,0,0,0
3,2024-08-02,09:14:00,34.5,68.6,442,28,280,0,0,12.1,...,0,0,0,0,0,0,0,0,0,0
4,2024-08-02,09:15:00,34.4,69.0,442,25,253,0,0,11.9,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df = df.loc[:, ~(df == 0).all()]
df.head()

,日付,時刻,PF 測定 気温,湿度,CO2濃度,照度,日射量,飽差,温度センサープラス１(OP1),露点,積算日射量
0,2024-08-02,09:11:00,34.2,72.9,444,27,273,10.3,34.4,28.6,0.01638
1,2024-08-02,09:12:00,34.3,72.0,442,27,270,10.7,34.4,28.5,0.03258
2,2024-08-02,09:13:00,34.4,71.5,443,19,192,10.9,34.3,28.5,0.04410
3,2024-08-02,09:14:00,34.5,68.6,442,28,280,12.1,34.4,27.9,0.06090
4,2024-08-02,09:15:00,34.4,69.0,442,25,253,11.9,34.3,27.9,0.07608

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42647 entries, 0 to 42646
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   日付               42647 non-null  datetime64[ns]
 1   時刻               42647 non-null  object
 2   PF 測定 気温         42647 non-null  float64
 3   湿度               42647 non-null  float64
 4   CO2濃度            42647 non-null  int64
 5   照度               42647 non-null  int64
 6   日射量              42647 non-null  int64
 7   飽差               42647 non-null  float64
 8   温度センサープラス１(OP1)  42647 non-null  float64
 9   露点               42647 non-null  float64
 10  積算日射量            42647 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(1)
memory usage: 3.6+ MB

In [27]:
df.describe()

,日付,PF 測定 気温,湿度,CO2濃度,照度,日射量,飽差,温度センサープラス１(OP1),露点,積算日射量
count,42647,42647.000000,42647.00000,42647.000000,42647.000000,42647.000000,42647.000000,42647.000000,42647.000000,42647.000000
mean,2024-08-16 16:30:16.587333376,29.248641,78.00114,470.351467,8.225174,84.746031,7.622660,22.824895,24.605480,3.693956
min,2024-08-02 00:00:00,22.800000,43.20000,423.000000,0.000000,0.000000,0.600000,20.700000,21.000000,0.000000
25%,2024-08-09 00:00:00,25.800000,65.00000,448.000000,0.000000,0.000000,2.000000,22.500000,23.800000,0.022590
50%,2024-08-17 00:00:00,27.500000,82.30000,458.000000,1.000000,14.000000,4.700000,22.800000,24.500000,3.084900
75%,2024-08-24 00:00:00,32.700000,91.60000,491.000000,14.000000,144.000000,12.300000,23.200000,25.300000,7.127160
max,2024-08-31 00:00:00,42.000000,97.10000,546.000000,91.000000,910.000000,31.800000,35.900000,30.300000,10.116660
std,NaN,4.278253,15.07261,28.040272,11.579192,117.221850,6.899943,0.803288,1.257344,3.417167

## CSVファイルを一つにまとめる

In [1]:
import pandas as pd
import glob
import os

# 対象CSVのパスを取得
csv_files = glob.glob("data/tsuji/*.csv")

# 各CSVを読み込んでDataFrameのリストに
df_list = []
for file in csv_files:
    df = pd.read_csv(file, encoding="cp932", parse_dates=["日付"])
    df["ファイル名"] = os.path.basename(file)  # 元ファイル名を追加しておくと便利
    df_list.append(df)

# すべて結合
df_all = pd.concat(df_list, ignore_index=True)

ValueError: No objects to concatenate

In [3]:
# 日付、時刻の変換や不要行削除
df_all["日付"] = pd.to_datetime(df_all["日付"], format="%Y/%m/%d", errors="coerce")
df_all["時刻"] = df_all["時刻"].str.replace("*", "", regex=False)
df_all["時刻"] = pd.to_datetime(df_all["時刻"], format="%H:%M", errors="coerce").dt.time

# 全NaN列の削除
df_all = df_all.dropna(axis=1, how="all")

# すべてが0の列の削除
df_all = df_all.loc[:, ~(df_all == 0).all()]

NameError: name 'df_all' is not defined

In [33]:
print(df_all.shape)
print(df_all.dtypes)
df_all.head()

(1051429, 12)
日付                 datetime64[ns]
時刻                         object
PF 測定 気温                  float64
湿度                        float64
CO2濃度                       int64
照度                          int64
日射量                         int64
飽差                        float64
温度センサープラス１(OP1)           float64
露点                        float64
積算日射量                     float64
ファイル名                      object
dtype: object

,日付,時刻,PF 測定 気温,湿度,CO2濃度,照度,日射量,飽差,温度センサープラス１(OP1),露点,積算日射量,ファイル名
0,2024-08-02,09:11:00,34.2,72.9,444,27,273,10.3,34.4,28.6,0.01638,p0005211_環境データ_12号棟_202408.csv
1,2024-08-02,09:12:00,34.3,72.0,442,27,270,10.7,34.4,28.5,0.03258,p0005211_環境データ_12号棟_202408.csv
2,2024-08-02,09:13:00,34.4,71.5,443,19,192,10.9,34.3,28.5,0.04410,p0005211_環境データ_12号棟_202408.csv
3,2024-08-02,09:14:00,34.5,68.6,442,28,280,12.1,34.4,27.9,0.06090,p0005211_環境データ_12号棟_202408.csv
4,2024-08-02,09:15:00,34.4,69.0,442,25,253,11.9,34.3,27.9,0.07608,p0005211_環境データ_12号棟_202408.csv

In [35]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1051429 entries, 0 to 1051428
Data columns (total 12 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   日付               1051429 non-null  datetime64[ns]
 1   時刻               1051429 non-null  object
 2   PF 測定 気温         1051429 non-null  float64
 3   湿度               1051429 non-null  float64
 4   CO2濃度            1051429 non-null  int64
 5   照度               1051429 non-null  int64
 6   日射量              1051429 non-null  int64
 7   飽差               1051429 non-null  float64
 8   温度センサープラス１(OP1)  1051429 non-null  float64
 9   露点               1051429 non-null  float64
 10  積算日射量            1051429 non-null  float64
 11  ファイル名            1051429 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(2)
memory usage: 96.3+ MB

In [36]:
df_all.describe()

,日付,PF 測定 気温,湿度,CO2濃度,照度,日射量,飽差,温度センサープラス１(OP1),露点,積算日射量
count,1051429,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06
mean,2024-11-01 04:37:15.198001408,1.820333e+01,8.101930e+01,4.368461e+02,7.208096e+00,7.412727e+01,3.980739e+00,1.841344e+01,1.457405e+01,3.236350e+00
min,2024-08-02 00:00:00,1.800000e+00,2.720000e+01,1.420000e+02,0.000000e+00,0.000000e+00,3.000000e-01,9.200000e+00,-4.900000e+00,0.000000e+00
25%,2024-09-17 00:00:00,9.500000e+00,7.360000e+01,4.120000e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.350000e+01,6.900000e+00,0.000000e+00
50%,2024-11-01 00:00:00,1.780000e+01,8.620000e+01,4.370000e+02,0.000000e+00,0.000000e+00,1.800000e+00,1.970000e+01,1.430000e+01,2.078280e+00
75%,2024-12-17 00:00:00,2.550000e+01,9.100000e+01,4.590000e+02,1.000000e+01,1.040000e+02,5.100000e+00,2.260000e+01,2.300000e+01,5.170440e+00
max,2025-01-31 00:00:00,4.270000e+01,9.750000e+01,6.080000e+02,1.240000e+02,1.242000e+03,3.660000e+01,3.590000e+01,3.090000e+01,2.396124e+01
std,NaN,9.098617e+00,1.341100e+01,3.914404e+01,1.342614e+01,1.355789e+02,4.820445e+00,4.489041e+00,7.979423e+00,3.902642e+00

# 3. 成長量の計算

In [ ]:
df['']