# 1. ライブラリの読み込み

In [21]:
import pandas as pd
import numpy as np
import glob
import os

In [4]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

# 2. 生育調査記録データの読み込みと整形

In [2]:
import os
os.chdir('venv')
os.getcwd()

'C:\\Users\\hayato\\Documents\\研修\\青ネギ関連\\my_project\\venv'

In [15]:
growth_path = "data/tsuji/生育調査記録_辻様.xlsx"
df_growth = pd.read_excel(growth_path, skiprows=5)
df_growth.head()

C:\Users\hayato\Documents\研修\青ネギ関連\my_project\venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

  生産者名  作物名     作  圃場名  株番号   段 記録対象 記録対象単位  実績値（値）   実績値（年月日）        品種
0  辻直也  青ネギ  24-1  ９号棟    1 NaN   定植    NaN     NaN 2024-08-01  SK-4_527
1  辻直也  青ネギ  24-1  ９号棟    1 NaN   草丈     cm    10.0 2024-08-02  SK-4_527
2  辻直也  青ネギ  24-1  ９号棟    2 NaN   定植    NaN     NaN 2024-08-01  SK-4_527
3  辻直也  青ネギ  24-1  ９号棟    2 NaN   草丈     cm    10.0 2024-08-02  SK-4_527
4  辻直也  青ネギ  24-1  ９号棟    3 NaN   定植    NaN     NaN 2024-08-01  SK-4_527

In [16]:
print(df_growth.columns)

Index(['生産者名', '作物名', '作', '圃場名', '株番号', '段', '記録対象', '記録対象単位', '実績値（値）',
       '実績値（年月日）', '品種'],
      dtype='object')

## 草丈のみ抽出

In [17]:
df_growth = df_growth[df_growth["記録対象"] == "草丈"]
df_growth = df_growth[["実績値（年月日）", "株番号", "実績値（値）"]].rename(columns={
    "実績値（年月日）": "date",
    "実績値（値）": "height_cm"
})
df_growth["date"] = pd.to_datetime(df_growth["date"])
df_growth.sort_values(["株番号", "date"], inplace=True)

In [18]:
df_growth.head()

         date  株番号  height_cm
1  2024-08-02    1       10.0
7  2024-08-09    1       18.0
30 2024-08-13    1        9.0
13 2024-08-16    1       27.0
37 2024-08-20    1       18.0

## 成長量（前日との差分）を計算

In [19]:
df_growth["growth_delta"] = df_growth.groupby("株番号")["height_cm"].diff()
df_growth.reset_index(drop=True, inplace=True)

In [20]:
df_growth.head()

        date  株番号  height_cm  growth_delta
0 2024-08-02    1       10.0           NaN
1 2024-08-09    1       18.0           8.0
2 2024-08-13    1        9.0          -9.0
3 2024-08-16    1       27.0          18.0
4 2024-08-20    1       18.0          -9.0

# 3. 環境データの読み込みと日単位に集計

## 環境データファイルの統合

In [44]:
# 対象CSVのパスを取得
csv_files = glob.glob("data/tsuji/*.csv")

# 各CSVを読み込んでDataFrameのリストに
env_list = []
for file in csv_files:
    env = pd.read_csv(file, encoding="cp932", parse_dates=["日付"])
    env["ファイル名"] = os.path.basename(file)  # 元ファイル名を追加しておくと便利
    env_list.append(env)

# すべて結合
df_env = pd.concat(env_list, ignore_index=True)

In [49]:
# 日付、時刻の変換や不要行削除
df_env["日付"] = pd.to_datetime(df_env["日付"], format="%Y/%m/%d", errors="coerce")
df_env["時刻"] = df_env["時刻"].astype(str).str.replace("*", "", regex=False)
df_env["時刻"] = pd.to_datetime(df_env["時刻"], format="%H:%M", errors="coerce").dt.time

# 全NaN列の削除
df_env = df_env.dropna(axis=1, how="all")

# すべてが0の列の削除
df_env = df_env.loc[:, ~(df_env == 0).all()]

In [50]:
print(df_env.shape)
print(df_env.dtypes)
df_env.head()

(1051429, 11)
日付                 datetime64[ns]
PF 測定 気温                  float64
湿度                        float64
CO2濃度                       int64
照度                          int64
日射量                         int64
飽差                        float64
温度センサープラス１(OP1)           float64
露点                        float64
積算日射量                     float64
ファイル名                      object
dtype: object

,日付,PF 測定 気温,湿度,CO2濃度,照度,日射量,飽差,温度センサープラス１(OP1),露点,積算日射量,ファイル名
0,2024-08-02,34.2,72.9,444,27,273,10.3,34.4,28.6,0.01638,p0005211_環境データ_12号棟_202408.csv
1,2024-08-02,34.3,72.0,442,27,270,10.7,34.4,28.5,0.03258,p0005211_環境データ_12号棟_202408.csv
2,2024-08-02,34.4,71.5,443,19,192,10.9,34.3,28.5,0.04410,p0005211_環境データ_12号棟_202408.csv
3,2024-08-02,34.5,68.6,442,28,280,12.1,34.4,27.9,0.06090,p0005211_環境データ_12号棟_202408.csv
4,2024-08-02,34.4,69.0,442,25,253,11.9,34.3,27.9,0.07608,p0005211_環境データ_12号棟_202408.csv

In [51]:
df_env.describe()

,日付,PF 測定 気温,湿度,CO2濃度,照度,日射量,飽差,温度センサープラス１(OP1),露点,積算日射量
count,1051429,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06,1.051429e+06
mean,2024-11-01 04:37:15.198001408,1.820333e+01,8.101930e+01,4.368461e+02,7.208096e+00,7.412727e+01,3.980739e+00,1.841344e+01,1.457405e+01,3.236350e+00
min,2024-08-02 00:00:00,1.800000e+00,2.720000e+01,1.420000e+02,0.000000e+00,0.000000e+00,3.000000e-01,9.200000e+00,-4.900000e+00,0.000000e+00
25%,2024-09-17 00:00:00,9.500000e+00,7.360000e+01,4.120000e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.350000e+01,6.900000e+00,0.000000e+00
50%,2024-11-01 00:00:00,1.780000e+01,8.620000e+01,4.370000e+02,0.000000e+00,0.000000e+00,1.800000e+00,1.970000e+01,1.430000e+01,2.078280e+00
75%,2024-12-17 00:00:00,2.550000e+01,9.100000e+01,4.590000e+02,1.000000e+01,1.040000e+02,5.100000e+00,2.260000e+01,2.300000e+01,5.170440e+00
max,2025-01-31 00:00:00,4.270000e+01,9.750000e+01,6.080000e+02,1.240000e+02,1.242000e+03,3.660000e+01,3.590000e+01,3.090000e+01,2.396124e+01
std,NaN,9.098617e+00,1.341100e+01,3.914404e+01,1.342614e+01,1.355789e+02,4.820445e+00,4.489041e+00,7.979423e+00,3.902642e+00

In [52]:
df_env.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1051429 entries, 0 to 1051428
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   日付               1051429 non-null  datetime64[ns]
 1   PF 測定 気温         1051429 non-null  float64
 2   湿度               1051429 non-null  float64
 3   CO2濃度            1051429 non-null  int64
 4   照度               1051429 non-null  int64
 5   日射量              1051429 non-null  int64
 6   飽差               1051429 non-null  float64
 7   温度センサープラス１(OP1)  1051429 non-null  float64
 8   露点               1051429 non-null  float64
 9   積算日射量            1051429 non-null  float64
 10  ファイル名            1051429 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(1)
memory usage: 88.2+ MB